### Create a table
``` sql
CREATE TABLE customers (
    email TEXT PRIMARY KEY,
    name TEXT NOT NULL,
    phone TEXT
);
```

### Query
Get data from all columns in table CUSTOMERS
``` sql
SELECT *
FROM CUSTOMERS;
```

Get data from specified columns with a condition in table
``` sql
SELECT NAME, PHONE
FROM CUSTOMERS
WHERE 1 = 1
AND EMAIL = 'pikachu1@gmail.com';
```

### Insert
``` sql
INSERT INTO CUSTOMERS(EMAIL, NAME, PHONE)
VALUES
    ('pikachu2@gmail.com', 'Ly', '123456789'),
    ('pikachu3@gmail.com', 'Toan', '123456789');
```

### Update
``` sql
UPDATE CUSTOMERS
SET NAME = 'Toan Ly'
WHERE 1 = 1
AND EMAIL = 'pikachu@gmail.com';
```

### Delete
``` sql
DELETE FROM CUSTOMERS
WHERE 1 = 1
AND EMAIL = 'pikachu@gmail.com';
```

In [43]:
import sqlite3
import pandas as pd

def execute_query(query, table_name='PRODUCT'):
    with sqlite3.connect('database.sqlite') as connection:
        cursor = connection.cursor()
        cursor.execute(query)
        connection.commit()
        data = pd.read_sql_query(f'SELECT * FROM {table_name}', connection)
    print(data)

In [45]:
create_table_query = '''
CREATE TABLE PRODUCT (
    ID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL,
    PRICE INTEGER NOT NULL
);               
'''
execute_query(create_table_query)

Empty DataFrame
Columns: [ID, NAME, PRICE]
Index: []

In [46]:
insert_query = '''
INSERT INTO PRODUCT(ID, NAME, PRICE)
VALUES
    (1, 'iPhone 15', 18000000), 
    (2, 'Galaxy Z-Fold 5', 30000000)
'''
execute_query(insert_query)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  30000000

In [47]:
update_query = '''
UPDATE PRODUCT
SET PRICE = 50000000
WHERE 1 = 1
AND NAME = 'Galaxy Z-Fold 5'        
'''
execute_query(update_query)

   ID             NAME     PRICE
0   1        iPhone 15  18000000
1   2  Galaxy Z-Fold 5  50000000

In [48]:
delete_query = '''
DELETE FROM PRODUCT
WHERE 1 = 1
AND NAME = 'iPhone 15'        
'''
execute_query(delete_query)

   ID             NAME     PRICE
0   2  Galaxy Z-Fold 5  50000000