In [21]:
import sqlite3
import pandas as pd

def execute_query(query, table_name='STOCK'):
    with sqlite3.connect('database.sqlite') as connection:
        cursor = connection.cursor()
        cursor.execute(query)
        connection.commit()
        data = pd.read_sql_query(f'SELECT * FROM {table_name}', connection)
    print(data)

In [22]:
query = '''
CREATE TABLE stock (
    ID INTEGER PRIMARY KEY,
    NAME TEXT NOT NULL,
    BUY INTEGER NOT NULL,
    INVESTOR TEXT NOT NULL
);
'''
execute_query(query)

Empty DataFrame
Columns: [ID, NAME, BUY, INVESTOR]
Index: []

In [23]:
query = '''
INSERT INTO STOCK(ID, NAME, BUY, INVESTOR)
VALUES
    (1, 'ACB', 29.45, 'Nguyen'),
    (2, 'VIC', 44.55, 'Nguyen'),
    (3, 'GMD', 74.30, 'Nguyen'),
    (4, 'ACB', 28.45, 'Vinh'),
    (5, 'VIC', 40.55, 'Vinh'),
    (6, 'GMD', 60.30, 'Vinh')
'''
execute_query(query)

   ID NAME    BUY INVESTOR
0   1  ACB  29.45   Nguyen
1   2  VIC  44.55   Nguyen
2   3  GMD  74.30   Nguyen
3   4  ACB  28.45     Vinh
4   5  VIC  40.55     Vinh
5   6  GMD  60.30     Vinh

In [24]:
query = '''
SELECT SUM(buy) AS total_sale
FROM STOCK
'''
with sqlite3.connect('database.sqlite') as connection:
    print(pd.read_sql_query(query, connection))

   total_sale
0       277.6

In [25]:
query = '''
SELECT INVESTOR, NAME, MAX(buy) as MAX_PRICE
FROM STOCK
GROUP BY INVESTOR
'''
with sqlite3.connect('database.sqlite') as connection:
    print(pd.read_sql_query(query, connection))

  INVESTOR NAME  MAX_PRICE
0   Nguyen  GMD       74.3
1     Vinh  GMD       60.3